---
import Aside from '../components/Aside/Aside.astro'
import Header from '../components/Header.astro'

import '@fontsource-variable/montserrat'
import Podcast from '../components/Podcast.astro'

interface Props {
  author?: string
  role?: string
  url?: string
  description?: string
  keywords?: string
}

const {
  author = 'Germán A. Aliprandi',
  role = 'Hands-On Engineering Manager',
  url = 'https://galiprandi.github.io/me',
  description = `Resume of Germán A. Aliprandi, Engineering Manager and Software Developer with over 20 years of experience.`,
  keywords = 'Germán A. Aliprandi, Engineering Manager, Software Developer, Tech Lead, Resume',
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{author}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content={author} />
    <link rel="canonical" href={url} />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={author} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="/me/_astro/profile_circle.Cgs8IIl7_Z2qfGXH.webp"
    />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:title" content={author} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content="/me/_astro/profile_circle.Cgs8IIl7_Z2qfGXH.webp"
    />

    <link rel="icon" type="image/svg+xml" href="/me/favicon.svg" />

    <meta
      name="google-site-verification"
      content="vrTl-28LgNcY2s040biIZLr98evvgN7z-yvIuR9ibjU"
    />

    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-CZ03PKC275"></script>
    <script is:inline src="/me/googleTag.js"></script>
  </head>
  <body>
    <Header author={author} role={role} />
    <div class="columns">
      <Aside />
      <slot />
    </div>
    <Podcast />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
    --color-texts-ligth: light-dark(#616161, #abb0c2);
    --color-bg: light-dark(white, #24272b);
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: var(--color-bg);
    color: light-dark(black, white);
    background-size: 224px;
  }

  body {
    font-family: 'Montserrat Variable', sans-serif;
    margin: auto;
    max-width: 1000px;
    padding: 0em 3em 4em 3em;
    line-height: 1.5;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: inherit;
    }
  }

  h3 {
    margin: 1em 0 0.3em 0;
  }

  ul {
    list-style: circle;
    padding: 0 0 0 1.4em;
    font-size: 0.9em;

    li:not(:last-child) {
      margin-bottom: 0.7em;
    }
  }

  p,
  .small-in-print {
    text-wrap: pretty;
  }

  .upper {
    text-transform: uppercase;
  }

  .columns {
    display: flex;
    gap: 2em;
  }

  .light {
    color: var(--color-texts-ligth);
  }

  /* Screens less than 900px */
  @media only screen and (max-width: 900px) {
    body {
      padding: 1em;
    }

    .columns {
      flex-direction: column-reverse;
      gap: 1em;
      text-align: center;
    }

    ul {
      padding: 0;
      list-style: none;
    }
  }

  /* Print */
  @media only print {
    @page {
      size: A4;
      margin: 0.5cm 1.5cm;
    }

    body {
      padding: 0;
      line-height: unset;
    }

    .small-in-print {
      font-size: 9pt;
    }

    html,
    body {
      height: 100%;
      overflow: hidden;
      background: #fff;
      font-size: 10.5pt;
      padding-bottom: 0;
    }

    .no-print {
      display: none;
    }
  }
</style>
